body {
    display: flex;
    flex-flow: column;
    background-color: lightblack;
}

header {
    height: 15vh;
    background-color: lightred;
}

header .header-title {
    border: 2px solid lightpink;
}


@media only screen (min-width: 700px) {
    body {

    }

    header {
        border-radius: 4px;
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen (min-width: 1200px) {
    body {
        flex-flow: row;
    }

    header {
        border-radius: 10%;
    }

}
